# Python compiled
__pycache__/
*.pyc

# JetBrains
.idea/

# Jupyter notebook
.ipynb_checkpoints/
*.npy

*.box
*.gif
*.tiff

# *.csv
*.tsv
*.zip
*.txt

*.obj

.DS_Store

*.log
*.gz
*.out
*.aux
*.toc
*.pkl
*.xlsx
*.png
